OR01-ARMSMember/OR01_ARMSMember.wsdl

<?xml version='1.0' encoding='UTF-8'?>
<wsdl:definitions name="OR01_ARMSMember" targetNamespace="http://oracle.com/sca/soapservice/ARIS-KPEI-PROJECT/OR01-ARMSMember/OR01_ARMSMember" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:inp1="http://www.kpei.co.id/schema/Member.001" xmlns:tns="http://oracle.com/sca/soapservice/ARIS-KPEI-PROJECT/OR01-ARMSMember/OR01_ARMSMember" xmlns:out1="http://kpei.co.id/MDwsReply.xsd">
   <wsdl:types>
      <schema xmlns="http://www.w3.org/2001/XMLSchema">
         <import namespace="http://www.kpei.co.id/schema/Member.001" schemaLocation="xsd/ARMSMember-request.xsd"/>
      </schema>
      <schema xmlns="http://www.w3.org/2001/XMLSchema">
         <import namespace="http://kpei.co.id/MDwsReply.xsd" schemaLocation="xsd/MDwsReply.xsd"/>
      </schema>
   </wsdl:types>
   <wsdl:message name="requestMessage">
      <wsdl:part name="request" element="inp1:MemberToARMS"/>
   </wsdl:message>
   <wsdl:message name="replyMessage">
      <wsdl:part name="reply" element="out1:wsReply"/>
   </wsdl:message>
   <wsdl:portType name="execute_ptt">
      <wsdl:operation name="sendMemberToARMS">
         <wsdl:input message="tns:requestMessage"/>
         <wsdl:output message="tns:replyMessage"/>
      </wsdl:operation>
      <wsdl:operation name="sendMemberToRazorUpdates">
         <wsdl:input message="tns:requestMemberUpdate"/>
         <wsdl:output message="tns:replyMemberUpdate"/>
      </wsdl:operation>
      <wsdl:operation name="sendMemberToRazorDelete">
         <wsdl:input message="tns:requestMemberDelete"/>
         <wsdl:output message="tns:replyMemberDelete"/>
      </wsdl:operation>
   </wsdl:portType>
   <wsdl:message name="requestMemberUpdate">
      <wsdl:part name="part" element="inp1:MemberUpdate"/>
   </wsdl:message>
   <wsdl:message name="replyMemberUpdate">
      <wsdl:part name="part" element="out1:wsReply"/>
   </wsdl:message>
   <wsdl:message name="requestMemberDelete">
      <wsdl:part name="part" element="inp1:MemberDelete"/>
   </wsdl:message>
   <wsdl:message name="replyMemberDelete">
      <wsdl:part name="part" element="out1:wsReply"/>
   </wsdl:message>
</wsdl:definitions>
